# Macos Stuff to ignore
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes


# log folder
logs/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Saw/v17/.suo
/.vs/Saw/v17
/.vs/Saw/FileContentIndex/read.lock
/.vs/Saw/FileContentIndex/aa6e05c7-1ce0-4bba-97b7-fc5f9e0f8ac7.vsidx
/.vs/Saw/FileContentIndex
/.vs/Saw
/.vs
